@font-face {
    font-family: "Norse-Bold";
    src: url("../fonts/Norse-Bold.otf");
}
input{
    border: 0px;
}
:root {
    --left-width: 450px;
    --form-height: clamp(250px,33vh,33vh)
  }


body{
    margin: 0px;
    padding: 0px;
   min-width: 800px;
}
header{
    margin: 0px;
    padding: 2rem;
    border:  3px solid rgb(163, 163, 163);
  

}

.headerlinks{
    appearance: none;
    color: black;
    text-decoration: underline;
    padding-right: 1rem;
}

.flexcontainer{

    display: flex;
    height: 100%;
    width: 100%;
}

.logo{
    position: relative;
    color: white;
  
    background-color: rgb(0, 0, 0,0.4);
    width: var(--left-width);
    height: 8rem;
    top: 10rem;
   

}
.logopicture{
    /* background-image: url('../assets/odin-lined.png');
    background-repeat: no-repeat; */

   
    color: white;
     position: absolute;
     top: 1rem;
     left: 5rem;
  
     
}
.logotext{
    position: absolute;
    top: 1.5rem;
    left: 11rem;
    color: white;
    font-family: 'Norse-Bold','Times New Roman', Times, serif;
   
    font-size: 5.5rem;
    
}
div.credits{
    position: absolute;
    top: 95%;
   
   
    text-align: center;
}
div.credits a, div.credits{
    color: white;
    margin: 0px 4px;
    font-size: small;
}
div.credits a{
    text-decoration: underline;
}
.leftside{
    justify-content: center;
    position: relative;
    display: flex;
    height: clamp(800px,100vh,100vh);
    width: var(--left-width);

    background-image: url('../assets/photo-1585202900225-6d3ac20a6962.avif');
    background-repeat: no-repeat;
    background-position-x: 30%; 
}
.rightside{
   padding: 0px;
 
    flex-direction: row;
    height: 100vh;
   flex-wrap: wrap;
}
p.toptext{
    padding: 100px 175px 0px 30px;
    margin: 0px;
}
p{
    padding: 20px 30px 0px 30px;
    margin: 0px;
}

.aboveform,.belowform{

    background-color: rgb(247, 247, 247);
    height: var(--form-height);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.3rem;
}
.aboveform{
    position: relative;
    height: var(--form-height);
}
.middleform{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    border: 1px solid white;
    height: 28vh;
    min-height: 250px;
    box-shadow: 0 5px 6px -5px #777;
    padding: 20px 20px 10px 50px;

    font-weight: bold;
    font-size: large;
}

.formrow{
        display: flex;
        position: relative;
}
.formrow p{
    padding-left: 0px;
}


label{
    display: block;
    color: rgb(27, 27, 27);
    font-size: 14px;
}
input{
    padding-left: 5px;
    padding-right: 5px;
    appearance: none;
    width: 250px;
    height: 25px;
    background-color: rgb(255, 245, 245);
    border: 1px solid rgb(218, 218, 218);
}
.belowform{
    position: relative;
  
}
button{
    border: none;
}
button[type="submit"]{
    background-color: #596D48;
    display: block;
    padding: 15px 40px;
    height: fit-content;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    margin: 0px 50px 0px 0px;
   
    border-radius: 7px;
}

a{
    color: #596D48;
    text-decoration: none;
}
p.login{
    font-size: medium;
}