

body{
    margin: 0px;
    padding: 0px;
}
header{
    margin: 0px;
    padding: 2rem;
    border:  3px solid rgb(163, 163, 163);
  

}

.headerlinks{
    appearance: none;
    color: black;
    text-decoration: underline;
    padding-right: 1rem;
}